.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    margin: 0 auto;
    border: 2px solid black;
}

.newDiv {
    width: calc(480px / var(--squares-per-side));
    height: calc(480px / var(--squares-per-side));
    box-sizing: border-box;
    border: 1px solid black;
}
